# -*- coding: utf-8 -*-
# vim: ft=jinja

{# This is a barebones map.jinja file #}
{# We import default values that are then merged with pillar data #}

{# Imports defaults #}
{% import_yaml "selinux/files/defaults.yaml" as defaults %}

{# Merge in selinux:lookup pillar #}
{% set selinux_settings = salt['pillar.get']('selinux:lookup', default=defaults.selinux, merge=True) %}